body {
  background-color: white;
  color: #352824;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.navbar {
  font: 16px "Poppins", sans-serif;
  align-items: center;
  background-color: #DED8D8;
  border-radius: 20px;
  margin: 20px;
}

.footer {
  font: 13px "Poppins", sans-serif;
  height: 100px;
  width: 100%;
  background-color: #DED8D8;
  color: #352824;
  margin-bottom: 0;
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.p-index {
  font: 16px "Poppins", sans-serif;
  margin: 40px;
  text-align: center;
}

.h1-index {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

hr {
  width: 500px;
  background-color: #352824;
}

.content-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.img-profile {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-profile:hover {
  transform: scale(1.1);
  transition: transform 0.2s, color 0.3s;
}

.iconesocial {
  font-size: 45px;
  color: #352824;
  gap: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconesocial i:hover {
  transform: scale(1.2); /* Ingrandisce l'icona al passaggio del mouse */
  color: #B05A67;
}

.h1-resume {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.h2-resume {
  font: 25px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.p-resume {
  font: 16px "Poppins", sans-serif;
  text-align: center;
  margin: 40px;
}

.contenuto-resume {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Fa in modo che le colonne vanno a capo quando necessario */
  gap: 1.5rem; /* Imposta lo spazio tra le colonne */
}

.col {
  border: 4px solid #DED8D8;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.competenze {
  text-align: left;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.lingue {
  text-align: left;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #DED8D8;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px dotted #352824;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.fa-user-gear, .fa-briefcase, .fa-graduation-cap, .fa-language {
  margin-right: 20px;
  font-size: 30px;
  color: #352824;
}

.pulsanti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.bottone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #352824;
  line-height: normal;
  text-align: center;
  padding: 10px;
  color: #F1EFEF;
  gap: 10px;
  border-radius: 10px;
}

.button {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding: 0.75em 1em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px "Poppins", sans-serif;
  box-shadow: 0 0.7em 1.5em -0.5em #352824;
  transition: transform 0.3s;
  background: #352824;
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #DED8D8;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em #DED8D8;
}

.h1-portfolio {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.h2-portfolio {
  font: 25px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.p-portfolio {
  font: 16px "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
}

.content-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1000px;
  border: 2px solid #DED8D8;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-form {
  width: 100%;
  padding: 12px;
  background: #352824;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.3s;
  font-weight: 600;
}

.p-skills {
  margin-left: 0px;
}

.iconesocial li {
  transition: transform 0.3s, color 0.3s; /* Transizione per l'effetto hover */
}

.contenuto-portfolio {
  display: flex;
  overflow: auto;
  padding: 20px;
  gap: 20px; /*20px*/
}

.card {
  flex: 0 0 auto;
  height: 300px; /*300px*/
  width: 400px; /*600px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1EFEF;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Ingrandisce la card al passaggio del mouse */
}

footer.i {
  margin: 0;
}

@media (max-width: 600px) {
  .tag-container {
    justify-content: left;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */