
//COLORS
$primary-color: #642E40; 
$dark: #2D1A2E;
$hover-color: #7F3F53;
$background: #F1F2F6;
$accent: #A8C0D8;

//FONT
$h1-size: 31px 'Poppins', sans-serif;
$h2-size: 25px 'Poppins', sans-serif;
$h3-size: 20px 'Poppins', sans-serif;
$p-size: 16px 'Poppins', sans-serif;
$p-small: 13px 'Poppins', sans-serif;

//ELEMENTI VARI 
$lunghezza-standard-linea: 500px;
$grandezza-icone: 45px;
html {
  scroll-behavior: smooth; /* Effetto di scorrimento fluido */
}


// ELEMENTI SU TUTTE LE PAGINE
body {
    color: $dark;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .navbar{
    font: $p-size;
    align-items: center;
    background-color: $background;
    height: 80px;
    border-bottom: 1px solid #ada8b6;
  }
  .custom-btn {
    background-color: $dark; /* Cambia il colore di sfondo */
    color: white; /* Cambia il colore del testo */
    border-radius: 10px;
  }
  .custom-btn:hover {
    background-color: $primary-color; /* Cambia colore al passaggio del mouse */
    border-color: $dark;
    color: #352824;
  }
  .footer{
    font: $p-small;
    height: 100px;
    width: 100%;
    background-color: $background;
    color: $dark;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

//INDEX

.p-index{
    font: $p-size;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-index{
    font: $h1-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    z-index: 0;
    
}
.h1-index2{
  font: $h1-size;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
  z-index: 0;
  position: relative;
}
hr{
    width: $lunghezza-standard-linea;
    background-color: $dark;
}

.content-index{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}  
  

.hero {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  padding-top: 150px; /* Sposta il testo in basso */
}

.hero-text {
  position: relative;
  z-index: 1; /* Il testo rimane sotto l'immagine */
  font-size: 70px;
}
.hero-image {
  position: absolute;
  top: 170px; /* Regola questo valore per sovrapporre l'immagine */
  left: 50%;
  transform: translateX(-50%);
  height: 700px; /* Regola la grandezza */
  z-index: 2; /* L'immagine sta sopra */
}
.rectangle{
  background-color: $background;
  height: 100%;
  width: 100%;
  z-index: 3;
  position: relative;
  margin-top: 330px;
  border-radius: 30px;
}



.iconesocial{
  margin: 40px;
    font-size: $grandezza-icone;
    color: $dark;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconesocial i:hover{
    transform: scale(1.2); 
    color:$hover-color;
}

.iconesocial li{
  transition: transform 0.3s, color 0.3s; 
}

//RESUME
.h1-resume{
    font: $h1-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.h2-resume{
    font: $h2-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.p-resume{
    font: $p-size;
    text-align: center;
    margin: 40px;
}
.contenuto-resume{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap; /* Fa in modo che le colonne vanno a capo quando necessario */
    gap: 1.5rem; /* Imposta lo spazio tra le colonne */
  }
.col{
    border: 4px solid $primary-color;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.competenze {
    text-align: left;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.lingue {
    text-align: left;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fa-user-gear, .fa-briefcase, .fa-graduation-cap, .fa-language{
    margin-right: 20px;
    font-size: 30px;
    color: $dark;
  }
.pulsanti{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 40px;

}
.bottone{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  line-height: normal;
  text-align: center;
  padding: 10px;
  color: #F1EFEF;  
  gap: 10px;
  border-radius: 10px;
}
.button {
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:10px;
    padding: 0.75em 1em;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 10px;
    font-size: $p-size;
    box-shadow: 0 0.7em 1.5em -0.5em $dark;
    transition: transform 0.3s;
    background: $dark;
}
  
.button__icon {
    width: 1.5em;
    height: 1.5em;
}
  
  .button:hover {
    border-color: $primary-color;
  }
  .button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em $primary-color;
  }


.badge{
  background-color: $primary-color;
  color: $dark;
  padding: 15px;
  border-radius: 10px;
}
.badge-custom-font {
  font: $p-size;
}
.img-portfolio{
  height: 200px;
}
//CARD HOVER
.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}


//PORTFOLIO

.h1-portfolio{
    font: $h1-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.h2-portfolio{
    font: $h2-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.p-portfolio{
    font: $p-size;
    justify-content: center;
    text-align: center;
}
.contenuto-portfolio{
  display: flex;
  overflow: auto;
  padding: 20px;
  gap: 20px; /*20px*/
}
.card{
  flex: 0 0 auto;
  height: 400px; /*300px*/
  width: 500px; /*600px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1EFEF;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}




.card:hover {
  transform: scale(1.05); /* Ingrandisce la card al passaggio del mouse */
}

//CONTACTS
.content-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-resume {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 1000px;
  border: 2px solid $primary-color
}
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.button-form {
  width: 100%;
  padding: 12px;
  background: $dark;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.3s;
  font-weight: 600;
}



//MEDIA

@media (max-width: 600px) {
    .tag-container {
        justify-content: left;
    }}

@media (max-width: 1000px) {
.container{
    width: 100%;
}}

@media (max-width: 768px) {
.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

}