html {
  scroll-behavior: smooth; /* Effetto di scorrimento fluido */
}

body {
  color: #2D1A2E;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.navbar {
  font: 16px "Poppins", sans-serif;
  align-items: center;
  background-color: #F1F2F6;
  height: 80px;
  border-bottom: 1px solid #ada8b6;
}

.custom-btn {
  background-color: #2D1A2E; /* Cambia il colore di sfondo */
  color: white; /* Cambia il colore del testo */
  border-radius: 10px;
}

.custom-btn:hover {
  background-color: #642E40; /* Cambia colore al passaggio del mouse */
  border-color: #2D1A2E;
  color: #352824;
}

.footer {
  font: 13px "Poppins", sans-serif;
  height: 100px;
  width: 100%;
  background-color: #F1F2F6;
  color: #2D1A2E;
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.p-index {
  font: 16px "Poppins", sans-serif;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-index {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  z-index: 0;
}

.h1-index2 {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
  z-index: 0;
  position: relative;
}

hr {
  width: 500px;
  background-color: #2D1A2E;
}

.content-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  padding-top: 150px; /* Sposta il testo in basso */
}

.hero-text {
  position: relative;
  z-index: 1; /* Il testo rimane sotto l'immagine */
  font-size: 70px;
}

.hero-image {
  position: absolute;
  top: 170px; /* Regola questo valore per sovrapporre l'immagine */
  left: 50%;
  transform: translateX(-50%);
  height: 700px; /* Regola la grandezza */
  z-index: 2; /* L'immagine sta sopra */
}

.rectangle {
  background-color: #F1F2F6;
  height: 100%;
  width: 100%;
  z-index: 3;
  position: relative;
  margin-top: 330px;
  border-radius: 30px;
}

.iconesocial {
  margin: 40px;
  font-size: 45px;
  color: #2D1A2E;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconesocial i:hover {
  transform: scale(1.2);
  color: #7F3F53;
}

.iconesocial li {
  transition: transform 0.3s, color 0.3s;
}

.h1-resume {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.h2-resume {
  font: 25px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.p-resume {
  font: 16px "Poppins", sans-serif;
  text-align: center;
  margin: 40px;
}

.contenuto-resume {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Fa in modo che le colonne vanno a capo quando necessario */
  gap: 1.5rem; /* Imposta lo spazio tra le colonne */
}

.col {
  border: 4px solid #642E40;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.competenze {
  text-align: left;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.lingue {
  text-align: left;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.fa-user-gear, .fa-briefcase, .fa-graduation-cap, .fa-language {
  margin-right: 20px;
  font-size: 30px;
  color: #2D1A2E;
}

.pulsanti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.bottone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D1A2E;
  line-height: normal;
  text-align: center;
  padding: 10px;
  color: #F1EFEF;
  gap: 10px;
  border-radius: 10px;
}

.button {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding: 0.75em 1em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px "Poppins", sans-serif;
  box-shadow: 0 0.7em 1.5em -0.5em #2D1A2E;
  transition: transform 0.3s;
  background: #2D1A2E;
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #642E40;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em #642E40;
}

.badge {
  background-color: #642E40;
  color: #2D1A2E;
  padding: 15px;
  border-radius: 10px;
}

.badge-custom-font {
  font: 16px "Poppins", sans-serif;
}

.img-portfolio {
  height: 200px;
}

.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.h1-portfolio {
  font: 31px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.h2-portfolio {
  font: 25px "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.p-portfolio {
  font: 16px "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
}

.contenuto-portfolio {
  display: flex;
  overflow: auto;
  padding: 20px;
  gap: 20px; /*20px*/
}

.card {
  flex: 0 0 auto;
  height: 400px; /*300px*/
  width: 500px; /*600px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1EFEF;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Ingrandisce la card al passaggio del mouse */
}

.content-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-resume {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 1000px;
  border: 2px solid #642E40;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-form {
  width: 100%;
  padding: 12px;
  background: #2D1A2E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.3s;
  font-weight: 600;
}

@media (max-width: 600px) {
  .tag-container {
    justify-content: left;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */